@charset 'utf-8';

$color-initial: #fff !default;
$color-primary: #606c38 !default;
$color-secondary: #283618 !default;
$color-tertiary: #fefae0 !default;
$color-quaternary: #dda15e !default;
$color-quinary: #bc6c25 !default;

@import '../node_modules/milligram/src/milligram.sass';

@import './fonts.css';

body {
  font-family: -apple-system, BlinkMacSystemFont, Lato, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

@import './styles/main.scss';
@import './styles/navigation.scss';

.main article.container {
  padding-top: 5.5rem;
}
